*.class
*.log

*.md~
.gitignore~
.scala~

# sbt specific
dist/*
target/
units/target/
units-scalaz/target/
units-spire/target/
units-scalacheck/target/
units-joda/target/

# not supported yet
units-breeze/
units-saddle/

lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
