*.class
*.log

*.md~
.gitignore~
.scala~
*.sh~
*.py~
*.scala~

# sbt specific
dist/*
target/
units/target/
units-algebird/target/
units-joda/target/
units-scalacheck/target/
units-scalaz/target/
units-spire/target/
units-slick/target/
units-slick2/target/
units-threetenbp/target/

# not supported yet
units-breeze/
units-pickling/
units-saddle/
units-scala-activerecord/
units-shapeless/
units-sjson/
units-specs2/
units-squeryl/

lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

#not translated yet
doc-de/
doc-fr/
doc-ja/
doc-nl/
doc-pl/
doc-ru/
