*.class
*.log

*.md~
.gitignore~
.scala~
*.scala~

# sbt specific
dist/*
target/
units/target/
units-scalaz/target/
units-spire/target/
units-scalacheck/target/
units-joda/target/

# not supported yet
units-algebird/
units-breeze/
units-saddle/
units-shapeless/
units-slick/
units-squeryl/

lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
